* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background: rgb(130, 44, 44);
    padding: 0 16px;
  }
  
  header {
    background-color: #13f557;
    margin: auto -16px;
    padding: 16px 32px;
    
  }
  
  header h1 {
    color: rgb(196, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 15px;
    width: 270px;
    margin: 20px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .note button {
    /* position: relative;
    float: right;
    margin-right: 10px;
    color: #b85217;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none; */
    position: relative;
  float: right;
  margin-right: 10px;
  background: #f5ba13;
  color: #fff;
  border: 2px solid green;

  width: 57px;
  height: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  }
  
  form {
    position: relative;
    width: 480px;
    margin: 30px 0 20px 0;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form button {
    /* position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none; */

    position: relative;
    float: right;
    right: 10px;
    bottom: 20px;
    background: #2ac737;
    color: #fff;
    border: 2px solid green;
  
    width: 57px;
    height: 20px;
  
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  
  